# see [prisma](https://www.prisma.io/docs/orm/overview/databases/postgresql#connection-details))
## <user> likely "postgres"
DATABASE_URL="postgresql://<user>:<password>@localhost:5432/backpad?schema=public" 